notebooks/.ipynb_checkpoints/
notebooks/*.ipynb
lace.egg-info/
*/__pycache__/
*/*/__pycache__/
.github/workflows/.python-tests.yml.swn
.github/workflows/.python-tests.yml.swo
.github/workflows/.python-tests.yml.swp
docs/build/
