sphinx>=4.0.0
sphinx-rtd-theme>=0.5.2
sphinx-autodoc-typehints>=1.12.0
sphinx.ext.napoleon>=0.7
sphinx.ext.viewcode>=0.7
sphinx.ext.githubpages>=0.7

# Your project dependencies
LaCE @ git+https://github.com/igmhub/LaCE
